<table>
               <tr>
                    <td > &nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Local/Atividade:</b>&nbsp&nbsp<%=text_field  :crianca, :local_trabalhoA, :size => "28"%>&nbsp&nbsp
                          <b>Fone: </b><%= text_field :crianca, :fone_trabalhoA, :size =>"14"  %>
                    </td>
              </tr>

</table>





