<table>
               <tr>
                    <td >
                         &nbsp&nbsp&nbsp&nbsp<font size ="2" color="blue">
                    <b id="pisca1"><u>ATENÇÃO:</u></b> Esta declaração deve conter a qualificaçao completa do empregador pessoa  física e/ou da mãe,  quando  <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    autônoma (nome, RG e CPF, endereço,  telefone, etc...), atividade(s) desenvolvida(s), horário de trabalho <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    e firma reconhecida em cartório. (Caso trabalhe em diferentes localidades, será necessário declaração de<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    todos).  NÃO SERÃO VÁLIDAS DECLARAÇÕES INFORMAIS.</font>
         </td>
       </tr>
      <tr>
         <td>
                    &nbsp&nbsp&nbsp   <b>Atividade:</b> &nbsp<%=text_field  :crianca, :atividade_autonomo, :size => "18"%>&nbsp
                    <b>Local Trabalho: </b> <%= text_field :crianca,:local_trabalho  %> &nbsp<b>Nº</b><%= text_field :crianca, :num_trab, :size=>"1" %>
                          <b>Fone: </b><%= text_field :crianca, :fone_trabalho, :size =>"8"  %>
                    </td>
              </tr>

</table>





