<% @classe = Grupo.find(:all, :conditions=>['id != 3'],:order => 'nome')%>

<table width="100%" align="center">
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca3">Classe:</b></font>
        <%= collection_select :crianca, :grupo3_id, @classe, :id, :nome, :include_blank => ' -- Selecionar -- ', :class=> "txt_busca2"  %>
 &nbsp&nbsp
        <font size="2"> <b class="label_busca2"> Unidade:</b></font>
         <%= collection_select :crianca, :unidade_ref, @unidades1, :nome, :nome, :include_blank => ' -- Selecionar -- ', :class=> "txt_busca2"  %>
  &nbsp&nbsp
         <%#= observe_field 'crianca_unidade_id',
               :update => "criancas",
               :url    => { :action => 'classificao_unidade' },
               :with   => 'crianca_unidade_id' %>
         <%= submit_tag "Visualizar", :class => "btn_filtrar" %>

     </td>


   </tr>
  </table>



