<table>

      <tr>
          <td colspan="2">&nbsp&nbsp&nbsp&nbsp Mãe apresentou declaracação de trabalho - SEM CARTEIRA ASSINADA.<br/>
             &nbsp&nbsp&nbsp&nbsp<font size ="2" color="blue">
                    <b id="pisca1"><u>ATENÇÃO:</u></b> Esta declaração deve conter a qualificaçao completa do empregador pessoa jurídica (nome, CNPJ, endereço,  <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                     telefone, etc...), atividade desenvolvida pelo empregado, horário de trabalho  e firma reconhecida em cartório.<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    NÃO SERÃO VÁLIDAS DECLARAÇÕES INFORMAIS.</font>
         </td>
       </tr>
      <tr>
         <td width="5%">&nbsp&nbsp&nbsp&nbsp<b>Local Trabalho: </b></td>
         <td><%= text_field :crianca,:local_trabalho %> &nbsp&nbsp<b>Nº</b><%= text_field :crianca, :num_trab, :size=>"2" %>&nbsp&nbsp&nbsp&nbsp
         <b>Bairro:</b> <%= text_field :crianca, :bairro_trab, :size=>"20" %>&nbsp&nbsp&nbsp&nbsp
         <b>Fone:</b> <%= text_field :crianca, :fone_trabalho, :size=>"15" %>
         </td>
       </tr>

</table>





