<table>
    <tr>
        <td>
           <table >
             <% for unidade in @unidade_regiao %>
              <tr>
                  <td align="left"><b>Unidade:</b> <%=  unidade.nome%></td>
              </tr>
            <% end %>
              <tr>
                  <td><font size ="2" color="blue"><b> 
                    <b id="pisca1"><u>ATENÇÃO:</u></b><b> 
                        A vaga poderá ser oferecida em qualquer uma das unidades da região indicada, conforme disponibilidade.
                     </b>
            </font> </td>
              </tr>

          </table>
        </td>
      <tr>
          <td colspan="5"><b><font color="red" size="5"> * </font><%= 'Unidade mais próxima ao endereço apresentado:  ' %> </b>
             <%= collection_select :crianca, :unidade_ref, @unidade_regiao, :nome, :nome, :include_blank => 'É necessário selecionar uma opção' %>
            
         </td>
      </tr>

    </tr>
</table>









