<table>
               <tr>
                    <td >&nbsp&nbsp&nbsp&nbsp
                         <b>Secretaria: </b>
                         <%= text_field :crianca, :servidor_local, :size => "25" %>&nbsp&nbsp&nbsp&nbsp
                         <b>Matrícula:</b><%= text_field :crianca, :matricula, :size =>"12"  %> &nbsp&nbsp&nbsp&nbsp
                         <b>Fone:</b> <%= text_field :crianca, :fone_trabalho, :size=>"15" %>

                    </td>
               </tr>

</table>









