<table>
               <tr>
                    <td >&nbsp&nbsp&nbsp&nbsp
                         <b>Secretaria: </b>
                         <%= text_field :crianca, :servidor_local, :size => "25" %>&nbsp&nbsp&nbsp&nbsp
                         <b>Matrícula</b><%= text_field :crianca, :fone_trabalho, :size =>"12"  %>
                    </td>
               </tr>

</table>









