<table>

      <tr>
          <td colspan="2">&nbsp&nbsp&nbsp&nbsp<font size ="2" color="blue">
                    <b id="pisca1"><u>ATENÇÃO:</u></b> No caso de mãe que trabalhe sob regime estatutário, poderá ser aceito como comprovante de trabalho <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    certidão ou declaração onde conste o órgão ou instituição em que trabalha. (indicando se é da esfera municipal,<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    estadual ou federal) bem como o regime de contratação, seu cargo ou função, local (com endereço completo) <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    e horários e/ou escalas de trabalho. Esta certidão ou declaração deverá, preferencialmente, estar acompanhada <br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    de holerite ou contra-cheque emitido nos últimos três meses. ATENTÇÃO: no caso de mães funcionárias<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    da Prefeitura Municipal de Americana, será preciso responder SIM apenas na 1ª pergunta.<br/>
              </font>
         </td>
       </tr>
   
    
    
    
    
      <tr>
         <td width="5%">&nbsp&nbsp&nbsp<b>Local Trabalho: </b></td>
         <td><%= text_field :crianca,:local_trabalho %> &nbsp<b>Nº</b><%= text_field :crianca, :num_trab, :size=>"2" %>&nbsp
         <b>Bairro:</b> <%= text_field :crianca, :bairro_trab, :size=>"20" %>&nbsp
         <b>Fone:</b> <%= text_field :crianca, :fone_trabalho, :size=>"15" %>
         </td>
       </tr>

</table>





