<table>
               <tr>
                    <td >
                         &nbsp&nbsp&nbsp&nbsp<font size ="2" color="blue">
                    <b id="pisca1"><u>ATENÇÃO:</u></b> Esta opção trata-se de transferência de criança entre as unidades educacionais do municipio de Americana<br/>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    NÃO SE APLICA QUANDO TRATAR-SE DE TRANSFERÊNCIA PROVINDA DE OUTROS LOCALIDADES .</font>
         </td>
       </tr>
      <tr>
         <td>
                    &nbsp&nbsp&nbsp   <b>Unidade que frequenta atualmente:</b> &nbsp <%= collection_select :crianca, :unidade_t, @unidade_regiao, :nome, :nome, :include_blank => 'É necessário selecionar uma opção' %>
                    </td>
              </tr>

</table>





