<table>

      <tr>
         <td>&nbsp&nbsp&nbsp&nbsp<b>Endereço: </b></td>
         <td><%= text_field :crianca,:end_trab %> &nbsp&nbsp<b>Nº</b><%= text_field :crianca, :num_trab, :size=>"2" %>&nbsp&nbsp&nbsp&nbsp
         <b>Bairro:</b> <%= text_field :crianca, :bairro_trab, :size=>"20" %>&nbsp&nbsp&nbsp&nbsp
         <b>Fone:</b> <%= text_field :crianca, :fone_trabalho, :size=>"15" %>
         </td>
       </tr>

</table>





