<p>
  <b>Crianca:</b>
  <%=h @observacao_crianca.crianca_id %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @observacao_crianca.observacao %>
</p>


<%= link_to 'Edit', edit_observacao_crianca_path(@observacao_crianca) %> |
<%= link_to 'Back', observacao_criancas_path %>