<table>
        <%if session[:vaga_id] == 0%>
             <%if   session[:crianca_id]==0%>
                <tr>
                    <td>
                       <font size="3" color="red"><b><u>ATENÇÃO:</u> Não existe <u>DEMANDA CADASTRADA</u> disponível para esta classe nesta unidade. <br/> Clicar em FECHAR    </b></font>        
                    </td>
                </tr>
              <%else%>
                <tr>
                    <td>
                       <font size="3" color="red"><b><u>ATENÇÃO:</u> Não existe <u>VAGA CADASTRADA</u> disponível para esta classe nesta unidade.   <br/> Clicar em FECHAR    </b></font>
                    </td>
                </tr>
             <%end%>

        <%else if   session[:crianca_id]==0%>
                <tr>
                    <td>
                        <font size="3" color="red"><b><u>ATENÇÃO:</u> NÃO existe <u>DEMANDA CADASTRADA</u> disponível para esta classe nesta unidade.  Clicar em FECHAR    </b></font>
                    </td>
                </tr>


            <%else%>
                <tr>
                    <td>
                        <font size="2" color="red"><b><u>ATENÇÃO:</u> 1) Demanda na ordem de promiridade, chamar sempre <br/>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp  o primeiro da lista.</b></font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" color="red">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> 2) Quantidade de vagas disponíveis: <%=session[:quant_vaga]%>.</b></font>
                    </td>
                </tr>

                <tr>
                    <td>
                             <%= collection_select :vaga, :crianca_id , @criancasT, :id, :nome, :include_blank => ' -- Selecione -- ' %>
                                               <%= observe_field :vaga_crianca_id,
                                                  :with => :vaga_crianca_id,
                                                   :url => { :action => 'crianca_id'}%>

                    </td>
                </tr>

            <%end%>
        <%end%>
</table>