<table>
        <%if session[:vaga_id] == 0%>
             <%if   session[:crianca_id]==0%>
                <tr>
                    <td>
                       <font size="3" color="red"><b><u>ATENÇÃO:</u> Não existe <u>DEMANDA CADASTRADA</u> disponível para esta classe nesta unidade. <br/> Clicar em FECHAR    </b></font>        
                    </td>
                </tr>
              <%else%>
                <tr>
                    <td>
                       <font size="3" color="red"><b><u>ATENÇÃO:</u> Não existe <u>VAGA CADASTRADA</u> disponível para esta classe nesta unidade.   <br/> Clicar em FECHAR    </b></font>
                    </td>
                </tr>
             <%end%>

        <%else if   session[:crianca_id]==0%>
                <tr>
                    <td>
                        <font size="3" color="red"><b><u>ATENÇÃO:</u> NÃO existe <u>DEMANDA CADASTRADA</u> disponível para esta classe nesta unidade.  Clicar em FECHAR    </b></font>
                    </td>
                </tr>


            <%else%>
                <tr>
                    <td>
                        <font size="2" color="red"><b><u>ATENÇÃO:</u> 1) A lista está divida em duas partes,  a 1ª é a demanda <br/>
                                                                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                        da unidade escolar, a 2ª é a demanda da região.<br/>
                                                                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                      2) As listas já estão calssificadas na ordem de promiridade. <br/>
                                                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                      3) Quantidade de vagas disponíveis (cadastradas): <%=session[:quant_vaga]%>.</b></font>
                    </td>
                </tr>

                <tr>
                    <td>
                             <%= collection_select :vaga, :crianca_id , @criancasT, :id, :nome, :include_blank => ' -- Selecione -- ' %>
                                               <%= observe_field :vaga_crianca_id,
                                                  :with => :vaga_crianca_id,
                                                   :url => { :action => 'crianca_id'}%>

                    </td>
                </tr>

            <%end%>
        <%end%>
</table>